*,
*::after,
*::before{
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}

html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

img{
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }